@import "../utils/var";
@import "../utils/function";

.contributor-card {
    display: flex;
    align-items: center;
    border-radius: $corner-md;
    min-width: 210px;
    position: relative;
    background-color: #{$color-surface-container-low};
    transition: all;
    @include vendor-prefix(transition-duration, #{$duration-normal});

    @include create-shadow(1, $color-shadow);

    //layer
    > div {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        transition: all;
        border-radius: inherit;
        @include vendor-prefix(transition-duration, #{$duration-normal});
    }

    //container
    > a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        padding: 1rem;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        overflow: hidden;
        text-decoration: none;

        //photo
        > div:nth-child(1) {
            transition: all;
            @include vendor-prefix(transition-duration, #{$duration-normal});

            @include on-pointer(fine) {
                position: absolute;
                margin-top: -1.75rem;
                margin-left: -1.75rem;
                left: 50%;
                top: 50%;
            }

            //image-container
            > div {
                display: flex;
                align-items: center;
                padding: 0.25rem;
                position: relative;
                margin-left: auto;
                margin-right: auto;
                transition: all;
                @include vendor-prefix(transition-duration, #{$duration-normal});

                > div {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    // background-color: #{$color-primary};
                    background-image: linear-gradient(to top right, $color-primary, $color-inverse-primary);
                    border-radius: #{$corner-full};
                    transition: all;
                    @include vendor-prefix(transition-duration, #{$duration-normal});
                }

                @include media-hover() {
                    &:hover {
                        > div {
                            transform: rotate(180deg);
                            // background-color: #{$color-secondary};
                        }
                    }
                }

                > img {
                    height: 3rem;
                    border-radius: #{$corner-full};
                    z-index: 2;
                    transition: all;
                    @include vendor-prefix(transition-duration, #{$duration-normal});
                }
            }
        }

        //text
        > div:nth-child(2) {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.25rem;
            white-space: nowrap;
            @include vendor-prefix(text-wrap, nowrap);
            margin-top: auto;
            margin-bottom: auto;
            transition: all;
            color: #{$color-on-surface};
            @include vendor-prefix(transition-duration, #{$duration-normal});

            @include on-pointer(fine) {
                margin-left: 4rem;
            }

            //name
            > p:nth-child(1) {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                transition: all;
                text-decoration: none;
                margin: 0;
                @include vendor-prefix(transition-duration, #{$duration-normal});

                @include create-text(title, large);

                @include on-pointer(fine) {
                    opacity: 0;
                    @include vendor-prefix(transform, translateY(10rem));
                }
            }
            > p:nth-child(2) {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                transition: all;
                margin: 0;
                @include vendor-prefix(transition-delay, $duration-faster);
                @include vendor-prefix(transition-duration, #{$duration-normal});

                @include create-text(body, small);

                @include on-pointer(fine) {
                    opacity: 0;
                    @include vendor-prefix(transform, translateY(10rem));
                }
            }
        }
    }

    // on card hover
    @include media-hover() {
        &:hover {
            // box-shadow: 0px 0px #{$elevation-2} #{$color-shadow};
            @include create-shadow(2, $color-shadow);
            > div {
                background-color: #{$color-on-surface};
                opacity: 0.08;
            }

            > a {
                > div:nth-child(1) {
                    margin-left: 0;
                    left: 1rem;
                    > div {
                        > img {
                            @include vendor-prefix(transform, rotate(6deg));
                        }
                    }
                }

                > div:nth-child(2) {
                    > p:nth-child(1) {
                        opacity: 1;
                        @include vendor-prefix(transform, translateY(0));
                    }

                    > p:nth-child(2) {
                        opacity: 1;
                        @include vendor-prefix(transform, translateY(0));
                    }
                }
            }
        }
    }

    &:disabled {
        background-color: $color-surface;
        opacity: 0.38;
        @include create-shadow(1, $color-shadow);
        > div {
            opacity: 0;
        }
    }

    &:focus {
        @include create-shadow(1, $color-shadow);

        > div {
            background-color: $color-on-surface;
            opacity: 0.1;
        }
    }
}
