@import "../utils/var";
@import "../utils/function";

* {
    box-sizing: border-box;
}

:host,
:host([show="standard"]) {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    transition: all;
    @include vendor-prefix(transition-duration, $duration-normal);

    //default show standard
    > div:nth-child(2) {
        background-color: $color-surface;
        border-top-right-radius: $corner-lg;
        border-bottom-right-radius: $corner-lg;
        width: 360px;
        height: 100%;
    }

    > div:nth-child(3) {
        display: none;
    }
}

// hide
:host([show="no"]) {
    // display: none;
    left: -360px;
    > div:nth-child(3) {
        display: none;
    }
}

//show modal
:host([show="modal"]) {
    width: 100%;
    z-index: 9999;
    > div:nth-child(2) {
        background-color: $color-surface-container-low;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        @include create-shadow(1, $color-shadow);
    }
    > div:nth-child(3) {
        display: block;
        background-color: $color-scrim;
        opacity: 0.4;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}
