:root {
  --corner-none: 0rem;
  --corner-xs: 0.25rem;
  --corner-sm: 0.5rem;
  --corner-md: 0.75rem;
  --corner-lg: 1rem;
  --corner-xl: 1.75rem;
  --corner-full: 9999px;
  --elevation-0: 0rem;
  --elevation-1: 1px;
  --elevation-2: 3px;
  --elevation-3: 6px;
  --elevation-4: 0.5rem;
  --elevation-5: 0.75rem;
  --duration-faster: 100ms;
  --duration-fast: 300ms;
  --duration-normal: 500ms;
  --duration-slow: 750ms;
  --duration-slower: 1s;
  --font-weight-display-large: 400;
  --font-weight-display-medium: 400;
  --font-weight-display-small: 400;
  --font-weight-headline-large: 400;
  --font-weight-headline-medium: 400;
  --font-weight-headline-small: 400;
  --font-weight-title-large: 400;
  --font-weight-title-medium: 500;
  --font-weight-title-small: 500;
  --font-weight-body-large: 400;
  --font-weight-body-medium: 400;
  --font-weight-body-small: 400;
  --font-weight-label-large: 500;
  --font-weight-label-medium: 500;
  --font-weight-label-small: 500;
  --font-weight-prominent-label-large: 700;
  --font-weight-prominent-label-medium: 700;
  --font-size-display-large: 57px;
  --font-size-display-medium: 45px;
  --font-size-display-small: 36px;
  --font-size-headline-large: 32px;
  --font-size-headline-medium: 28px;
  --font-size-headline-small: 24px;
  --font-size-title-large: 22px;
  --font-size-title-medium: 16px;
  --font-size-title-small: 14px;
  --font-size-body-large: 16px;
  --font-size-body-medium: 14px;
  --font-size-body-small: 12px;
  --font-size-label-large: 14px;
  --font-size-label-medium: 12px;
  --font-size-label-small: 11px;
  --font-tracking-display-large: -0.25px;
  --font-tracking-display-medium: 0;
  --font-tracking-display-small: 0;
  --font-tracking-headline-large: 0;
  --font-tracking-headline-medium: 0;
  --font-tracking-headline-small: 0;
  --font-tracking-title-large: 0;
  --font-tracking-title-medium: 0.15px;
  --font-tracking-title-small: 0.1px;
  --font-tracking-body-large: 0.5px;
  --font-tracking-body-medium: 0.25px;
  --font-tracking-body-small: 0.4px;
  --font-tracking-label-large: 0.1px;
  --font-tracking-label-medium: 0.5px;
  --font-tracking-label-small: 0.5px;
  --line-height-display-large: 64px;
  --line-height-display-medium: 52px;
  --line-height-display-small: 44px;
  --line-height-headline-large: 40px;
  --line-height-headline-medium: 36px;
  --line-height-headline-small: 32px;
  --line-height-title-large: 28px;
  --line-height-title-medium: 24px;
  --line-height-title-small: 20px;
  --line-height-body-large: 24px;
  --line-height-body-medium: 20px;
  --line-height-body-small: 16px;
  --line-height-label-large: 20px;
  --line-height-label-medium: 16px;
  --line-height-label-small: 16px;
}
*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  text-decoration: none !important;
}

code,
kbd,
samp,
pre {
  font-family: "Roboto Mono", monospace;
}

body {
  padding: 1rem;
  background-color: var(--md-sys-color-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contributor-card {
  display: flex;
  align-items: center;
  border-radius: var(--corner-md);
  min-width: 210px;
  position: relative;
  background-color: var(--md-sys-color-surface-container-low);
  transition: all;
  -webkit-transition-duration: var(--duration-normal);
  -moz-transition-duration: var(--duration-normal);
  -ms-transition-duration: var(--duration-normal);
  -o-transition-duration: var(--duration-normal);
  transition-duration: var(--duration-normal);
}
.contributor-card::before {
  content: "";
  -webkit-box-shadow: 0px 1px 2px 0px var(--md-sys-color-shadow);
  -moz-box-shadow: 0px 1px 2px 0px var(--md-sys-color-shadow);
  -ms-box-shadow: 0px 1px 2px 0px var(--md-sys-color-shadow);
  -o-box-shadow: 0px 1px 2px 0px var(--md-sys-color-shadow);
  box-shadow: 0px 1px 2px 0px var(--md-sys-color-shadow);
  opacity: 0.3;
  transition-property: box-shadow, opacity;
  inset: 0;
  position: absolute;
  border-radius: inherit;
  z-index: -1;
}
.contributor-card::after {
  content: "";
  -webkit-box-shadow: 0px 1px 3px 1px var(--md-sys-color-shadow);
  -moz-box-shadow: 0px 1px 3px 1px var(--md-sys-color-shadow);
  -ms-box-shadow: 0px 1px 3px 1px var(--md-sys-color-shadow);
  -o-box-shadow: 0px 1px 3px 1px var(--md-sys-color-shadow);
  box-shadow: 0px 1px 3px 1px var(--md-sys-color-shadow);
  opacity: 0.15;
  transition-property: box-shadow, opacity;
  inset: 0;
  position: absolute;
  border-radius: inherit;
  z-index: -1;
}
.contributor-card > .layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: all;
  border-radius: inherit;
  -webkit-transition-duration: var(--duration-normal);
  -moz-transition-duration: var(--duration-normal);
  -ms-transition-duration: var(--duration-normal);
  -o-transition-duration: var(--duration-normal);
  transition-duration: var(--duration-normal);
}
.contributor-card > .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}
.contributor-card > .container > .photo {
  transition: all;
  -webkit-transition-duration: var(--duration-normal);
  -moz-transition-duration: var(--duration-normal);
  -ms-transition-duration: var(--duration-normal);
  -o-transition-duration: var(--duration-normal);
  transition-duration: var(--duration-normal);
}
@media (pointer: fine) {
  .contributor-card > .container > .photo {
    position: absolute;
    margin-top: -1.75rem;
    margin-left: -1.75rem;
    left: 50%;
    top: 50%;
  }
}
.contributor-card > .container > .photo > .image-container {
  display: flex;
  align-items: center;
  padding: 0.25rem;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  transition: all;
  -webkit-transition-duration: var(--duration-normal);
  -moz-transition-duration: var(--duration-normal);
  -ms-transition-duration: var(--duration-normal);
  -o-transition-duration: var(--duration-normal);
  transition-duration: var(--duration-normal);
}
.contributor-card > .container > .photo > .image-container > .background-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(to top right, var(--md-sys-color-primary), var(--md-sys-color-inverse-primary));
  border-radius: var(--corner-full);
  transition: all;
  -webkit-transition-duration: var(--duration-normal);
  -moz-transition-duration: var(--duration-normal);
  -ms-transition-duration: var(--duration-normal);
  -o-transition-duration: var(--duration-normal);
  transition-duration: var(--duration-normal);
}
@media (hover: hover) and (pointer: fine) {
  .contributor-card > .container > .photo > .image-container:hover > .background-image {
    transform: rotate(180deg);
  }
}
.contributor-card > .container > .photo > .image-container > img {
  height: 3rem;
  border-radius: var(--corner-full);
  z-index: 2;
  transition: all;
  -webkit-transition-duration: var(--duration-normal);
  -moz-transition-duration: var(--duration-normal);
  -ms-transition-duration: var(--duration-normal);
  -o-transition-duration: var(--duration-normal);
  transition-duration: var(--duration-normal);
}
.contributor-card > .container > .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  white-space: nowrap;
  -webkit-text-wrap: nowrap;
  -moz-text-wrap: nowrap;
  -ms-text-wrap: nowrap;
  -o-text-wrap: nowrap;
  text-wrap: nowrap;
  margin-top: auto;
  margin-bottom: auto;
  transition: all;
  color: var(--md-sys-color-on-surface);
  -webkit-transition-duration: var(--duration-normal);
  -moz-transition-duration: var(--duration-normal);
  -ms-transition-duration: var(--duration-normal);
  -o-transition-duration: var(--duration-normal);
  transition-duration: var(--duration-normal);
}
@media (pointer: fine) {
  .contributor-card > .container > .text {
    margin-left: 4rem;
  }
}
.contributor-card > .container > .text > .name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all;
  text-decoration: none;
  -webkit-transition-duration: var(--duration-normal);
  -moz-transition-duration: var(--duration-normal);
  -ms-transition-duration: var(--duration-normal);
  -o-transition-duration: var(--duration-normal);
  transition-duration: var(--duration-normal);
  text-decoration: none;
  font-weight: var(--font-weight-title-large);
  font-size: var(--font-size-title-large);
  letter-spacing: var(--font-tracking-title-large);
  line-height: var(--line-height-title-large);
}
@media (pointer: fine) {
  .contributor-card > .container > .text > .name {
    opacity: 0;
    -webkit-transform: translateY(10rem);
    -moz-transform: translateY(10rem);
    -ms-transform: translateY(10rem);
    -o-transform: translateY(10rem);
    transform: translateY(10rem);
  }
}
.contributor-card > .container > .text > .desc {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all;
  -webkit-transition-delay: var(--duration-faster);
  -moz-transition-delay: var(--duration-faster);
  -ms-transition-delay: var(--duration-faster);
  -o-transition-delay: var(--duration-faster);
  transition-delay: var(--duration-faster);
  -webkit-transition-duration: var(--duration-normal);
  -moz-transition-duration: var(--duration-normal);
  -ms-transition-duration: var(--duration-normal);
  -o-transition-duration: var(--duration-normal);
  transition-duration: var(--duration-normal);
  text-decoration: none;
  font-weight: var(--font-weight-body-small);
  font-size: var(--font-size-body-small);
  letter-spacing: var(--font-tracking-body-small);
  line-height: var(--line-height-body-small);
}
@media (pointer: fine) {
  .contributor-card > .container > .text > .desc {
    opacity: 0;
    -webkit-transform: translateY(10rem);
    -moz-transform: translateY(10rem);
    -ms-transform: translateY(10rem);
    -o-transform: translateY(10rem);
    transform: translateY(10rem);
  }
}
@media (hover: hover) and (pointer: fine) {
  .contributor-card:hover::before {
    content: "";
    -webkit-box-shadow: 0px 1px 2px 0px var(--md-sys-color-shadow);
    -moz-box-shadow: 0px 1px 2px 0px var(--md-sys-color-shadow);
    -ms-box-shadow: 0px 1px 2px 0px var(--md-sys-color-shadow);
    -o-box-shadow: 0px 1px 2px 0px var(--md-sys-color-shadow);
    box-shadow: 0px 1px 2px 0px var(--md-sys-color-shadow);
    opacity: 0.3;
    transition-property: box-shadow, opacity;
    inset: 0;
    position: absolute;
    border-radius: inherit;
    z-index: -1;
  }
  .contributor-card:hover::after {
    content: "";
    -webkit-box-shadow: 0px 2px 6px 2px var(--md-sys-color-shadow);
    -moz-box-shadow: 0px 2px 6px 2px var(--md-sys-color-shadow);
    -ms-box-shadow: 0px 2px 6px 2px var(--md-sys-color-shadow);
    -o-box-shadow: 0px 2px 6px 2px var(--md-sys-color-shadow);
    box-shadow: 0px 2px 6px 2px var(--md-sys-color-shadow);
    opacity: 0.15;
    transition-property: box-shadow, opacity;
    inset: 0;
    position: absolute;
    border-radius: inherit;
    z-index: -1;
  }
  .contributor-card:hover > .layer {
    background-color: var(--md-sys-color-on-surface);
    opacity: 0.08;
  }
  .contributor-card:hover > .container > .photo {
    margin-left: 0;
    left: 1rem;
  }
  .contributor-card:hover > .container > .photo > .image-container > img {
    -webkit-transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    -ms-transform: rotate(6deg);
    -o-transform: rotate(6deg);
    transform: rotate(6deg);
  }
  .contributor-card:hover > .container > .text > .name {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  .contributor-card:hover > .container > .text > .desc {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
.contributor-card:disabled {
  background-color: var(--md-sys-color-surface);
  opacity: 0.38;
}
.contributor-card:disabled::before {
  content: "";
  -webkit-box-shadow: 0px 1px 2px 0px var(--md-sys-color-shadow);
  -moz-box-shadow: 0px 1px 2px 0px var(--md-sys-color-shadow);
  -ms-box-shadow: 0px 1px 2px 0px var(--md-sys-color-shadow);
  -o-box-shadow: 0px 1px 2px 0px var(--md-sys-color-shadow);
  box-shadow: 0px 1px 2px 0px var(--md-sys-color-shadow);
  opacity: 0.3;
  transition-property: box-shadow, opacity;
  inset: 0;
  position: absolute;
  border-radius: inherit;
  z-index: -1;
}
.contributor-card:disabled::after {
  content: "";
  -webkit-box-shadow: 0px 1px 3px 1px var(--md-sys-color-shadow);
  -moz-box-shadow: 0px 1px 3px 1px var(--md-sys-color-shadow);
  -ms-box-shadow: 0px 1px 3px 1px var(--md-sys-color-shadow);
  -o-box-shadow: 0px 1px 3px 1px var(--md-sys-color-shadow);
  box-shadow: 0px 1px 3px 1px var(--md-sys-color-shadow);
  opacity: 0.15;
  transition-property: box-shadow, opacity;
  inset: 0;
  position: absolute;
  border-radius: inherit;
  z-index: -1;
}
.contributor-card:disabled > .layer {
  opacity: 0;
}
.contributor-card:focus::before {
  content: "";
  -webkit-box-shadow: 0px 1px 2px 0px var(--md-sys-color-shadow);
  -moz-box-shadow: 0px 1px 2px 0px var(--md-sys-color-shadow);
  -ms-box-shadow: 0px 1px 2px 0px var(--md-sys-color-shadow);
  -o-box-shadow: 0px 1px 2px 0px var(--md-sys-color-shadow);
  box-shadow: 0px 1px 2px 0px var(--md-sys-color-shadow);
  opacity: 0.3;
  transition-property: box-shadow, opacity;
  inset: 0;
  position: absolute;
  border-radius: inherit;
  z-index: -1;
}
.contributor-card:focus::after {
  content: "";
  -webkit-box-shadow: 0px 1px 3px 1px var(--md-sys-color-shadow);
  -moz-box-shadow: 0px 1px 3px 1px var(--md-sys-color-shadow);
  -ms-box-shadow: 0px 1px 3px 1px var(--md-sys-color-shadow);
  -o-box-shadow: 0px 1px 3px 1px var(--md-sys-color-shadow);
  box-shadow: 0px 1px 3px 1px var(--md-sys-color-shadow);
  opacity: 0.15;
  transition-property: box-shadow, opacity;
  inset: 0;
  position: absolute;
  border-radius: inherit;
  z-index: -1;
}
.contributor-card:focus > .layer {
  background-color: var(--md-sys-color-on-surface);
  opacity: 0.1;
}

/*# sourceMappingURL=test.css.map */
