
@import "../../src/scss/theme";

body {
    padding: 1rem;
    background-color: $color-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@import "../../src//scss/components/contributor_card";
