@import "function";
@import "internal/typography";

//radius
$corner-none: var(--corner-none);
$corner-xs: var(--corner-xs);
$corner-sm: var(--corner-sm);
$corner-md: var(--corner-md);
$corner-lg: var(--corner-lg);
$corner-xl: var(--croner-xl);
$corner-full: var(--corner-full);

//elevation
$elevation-0: var(--elevation-0);
$elevation-1: var(--elevation-1);
$elevation-2: var(--elevation-2);
$elevation-3: var(--elevation-3);
$elevation-4: var(--elevation-4);
$elevation-5: var(--elevation-5);

//transition duration
$duration-faster: var(--duration-faster);
$duration-fast: var(--duration-fast);
$duration-normal: var(--duration-normal);
$duration-slow: var(--duration-slow);
$duration-slower: var(--duration-slower);

//color
$color-primary: var(--md-sys-color-primary);
$color-surface-tint: var(--md-sys-color-surface-tint);
$color-on-primary: var(--md-sys-color-on-primary);
$color-primary-container: var (--md-sys-color-primary-container);
$color-on-primary-container: var(--md-sys-color-on-primary-container);
$color-secondary: var(--md-sys-color-secondary);
$color-on-secondary: var(--md-sys-color-on-secondary);
$color-secondary-container: var(--md-sys-color-secondary-container);
$color-on-secondary-container: var(--md-sys-color-on-secondary-container);
$color-tertiary: var(--md-sys-color-tertiary);
$color-on-tertiary: var(--md-sys-color-on-tertiary);
$color-tertiary-container: var(--md-sys-color-tertiary-container);
$color-on-tertiary-container: var(--md-sys-color-on-tertiary-container);
$color-error: var(--md-sys-color-error);
$color-on-error: var(--md-sys-color-on-error);
$color-error-container: var(--md-sys-color-error-container);
$color-on-error-container: var(--md-sys-color-on-error-container);
$color-background: var(--md-sys-color-background);
$color-on-background: var(--md-sys-color-on-background);
$color-surface: var(--md-sys-color-surface);
$color-on-surface: var(--md-sys-color-on-surface);
$color-surface-variant: var(--md-sys-color-surface-variant);
$color-on-surface-variant: var(--md-sys-color-on-surface-variant);
$color-outline: var(--md-sys-color-outline);
$color-outline-variant: var(--md-sys-color-outline-variant);
$color-shadow: var(--md-sys-color-shadow);
$color-scrim: var(--md-sys-color-scrim);
$color-inverse-surface: var(--md-sys-color-inverse-surface);
$color-inverse-on-surface: var(--md-sys-color-inverse-on-surface);
$color-inverse-primary: var(--md-sys-color-inverse-primary);
$primary-fixed: var(--md-sys-color-primary-fixed);
$color-on-primary-fixed: var(--md-sys-color-on-primary-fixed);
$color-primary-fixed-dim: var(--md-sys-color-primary-fixed-dim);
$color-on-primary-fixed-variant: var(--md-sys-color-on-primary-fixed-variant);
$color-secondary-fixed: var(--md-sys-color-secondary-fixed);
$color-on-secondary-fixed: var(--md-sys-color-on-secondary-fixed);
$color-secondary-fixed-dim: var(--md-sys-color-secondary-fixed-dim);
$color-on-secondary-fixed-variant: var(--md-sys-color-on-secondary-fixed-variant);
$color-tertiary-fixed: var(--md-sys-color-tertiary-fixed);
$color-on-tertiary-fixed: var(--md-sys-color-on-tertiary-fixed);
$color-tertiary-fixed-dim: var(--md-sys-color-tertiary-fixed-dim);
$color-on-tertiary-fixed-variant: var(--md-sys-color-on-tertiary-fixed-variant);
$color-surface-dim: var(--md-sys-color-surface-dim);
$color-surface-bright: var(--md-sys-color-surface-bright);
$color-surface-container-lowest: var(--md-sys-color-surface-container-lowest);
$color-surface-container-low: var(--md-sys-color-surface-container-low);
$color-surface-container: var(--md-sys-color-surface-container);
$color-surface-container-high: var(--md-sys-color-surface-container-high);
$color-surface-container-highest: var(--md-sys-color-surface-container-highest);

// typography
$font-weight-display-large: var(--font-weight-display-large);
$font-weight-display-medium: var(--font-weight-display-medium);
$font-weight-display-small: var(--font-weight-display-small);
$font-weight-headline-large: var(--font-weight-headline-large);
$font-weight-headline-medium: var(--font-weight-headline-medium);
$font-weight-headline-small: var(--font-weight-headline-small);
$font-weight-title-large: var(--font-weight-title-large);
$font-weight-title-medium: var(--font-weight-title-medium);
$font-weight-title-small: var(--font-weight-title-small);
$font-weight-body-large: var(--font-weight-body-large);
$font-weight-body-medium: var(--font-weight-body-medium);
$font-weight-body-small: var(--font-weight-body-small);
$font-weight-label-large: var(--font-weight-label-large);
$font-weight-label-medium: var(--font-weight-label-medium);
$font-weight-label-small: var(--font-weight-label-small);
$font-weight-prominent-label-large: var(--font-weight-prominent-label-large);
$font-weight-prominent-label-medium: var(--font-weight-prominent-label-medium);
$font-size-display-large: var(--font-size-display-large);
$font-size-display-medium: var(--font-size-display-medium);
$font-size-display-small: var(--font-size-display-small);
$font-size-headline-large: var(--font-size-headline-large);
$font-size-headline-medium: var(--font-size-headline-medium);
$font-size-headline-small: var(--font-size-headline-small);
$font-size-title-large: var(--font-size-title-large);
$font-size-title-medium: var(--font-size-title-medium);
$font-size-title-small: var(--font-size-title-small);
$font-size-body-large: var(--font-size-body-large);
$font-size-body-medium: var(--font-size-body-medium);
$font-size-body-small: var(--font-size-body-small);
$font-size-label-large: var(--font-size-label-large);
$font-size-label-medium: var(--font-size-label-medium);
$font-size-label-small: var(--font-size-label-small);
$font-tracking-display-large: var(--font-tracking-display-large);
$font-tracking-display-medium: var(--font-tracking-display-medium);
$font-tracking-display-small: var(--font-tracking-display-small);
$font-tracking-headline-large: var(--font-tracking-headline-large);
$font-tracking-headline-medium: var(--font-tracking-headline-medium);
$font-tracking-headline-small: var(--font-tracking-headline-small);
$font-tracking-title-large: var(--font-tracking-title-large);
$font-tracking-title-medium: var(--font-tracking-title-medium);
$font-tracking-title-small: var(--font-tracking-title-small);
$font-tracking-body-large: var(--font-tracking-body-large);
$font-tracking-body-medium: var(--font-tracking-body-medium);
$font-tracking-body-small: var(--font-tracking-body-small);
$font-tracking-label-large: var(--font-tracking-label-large);
$font-tracking-label-medium: var(--font-tracking-label-medium);
$font-tracking-label-small: var(--font-tracking-label-small);
$line-height-display-large: var(--line-height-display-large);
$line-height-display-medium: var(--line-height-display-medium);
$line-height-display-small: var(--line-height-display-small);
$line-height-headline-large: var(--line-height-headline-large);
$line-height-headline-medium: var(--line-height-headline-medium);
$line-height-headline-small: var(--line-height-headline-small);
$line-height-title-large: var(--line-height-title-large);
$line-height-title-medium: var(--line-height-title-medium);
$line-height-title-small: var(--line-height-title-small);
$line-height-body-large: var(--line-height-body-large);
$line-height-body-medium: var(--line-height-body-medium);
$line-height-body-small: var(--line-height-body-small);
$line-height-label-large: var(--line-height-label-large);
$line-height-label-medium: var(--line-height-label-medium);
$line-height-label-small: var(--line-height-label-small);
