$dark: (
  --md-sys-color-primary: rgb(143 207 243),
  --md-sys-color-surface-tint: rgb(143 207 243),
  --md-sys-color-on-primary: rgb(0 53 73),
  --md-sys-color-primary-container: rgb(0 76 104),
  --md-sys-color-on-primary-container: rgb(195 232 255),
  --md-sys-color-secondary: rgb(181 201 215),
  --md-sys-color-on-secondary: rgb(32 51 61),
  --md-sys-color-secondary-container: rgb(54 73 85),
  --md-sys-color-on-secondary-container: rgb(209 229 243),
  --md-sys-color-tertiary: rgb(201 193 234),
  --md-sys-color-on-tertiary: rgb(49 44 76),
  --md-sys-color-tertiary-container: rgb(72 66 100),
  --md-sys-color-on-tertiary-container: rgb(230 222 255),
  --md-sys-color-error: rgb(255 180 171),
  --md-sys-color-on-error: rgb(105 0 5),
  --md-sys-color-error-container: rgb(147 0 10),
  --md-sys-color-on-error-container: rgb(255 218 214),
  --md-sys-color-background: rgb(15 20 23),
  --md-sys-color-on-background: rgb(223 227 231),
  --md-sys-color-surface: rgb(15 20 23),
  --md-sys-color-on-surface: rgb(223 227 231),
  --md-sys-color-surface-variant: rgb(65 72 77),
  --md-sys-color-on-surface-variant: rgb(192 199 205),
  --md-sys-color-outline: rgb(138 146 151),
  --md-sys-color-outline-variant: rgb(65 72 77),
  --md-sys-color-shadow: rgb(0 0 0),
  --md-sys-color-scrim: rgb(0 0 0),
  --md-sys-color-inverse-surface: rgb(223 227 231),
  --md-sys-color-inverse-on-surface: rgb(44 49 52),
  --md-sys-color-inverse-primary: rgb(27 101 133),
  --md-sys-color-primary-fixed: rgb(195 232 255),
  --md-sys-color-on-primary-fixed: rgb(0 30 44),
  --md-sys-color-primary-fixed-dim: rgb(143 207 243),
  --md-sys-color-on-primary-fixed-variant: rgb(0 76 104),
  --md-sys-color-secondary-fixed: rgb(209 229 243),
  --md-sys-color-on-secondary-fixed: rgb(9 30 40),
  --md-sys-color-secondary-fixed-dim: rgb(181 201 215),
  --md-sys-color-on-secondary-fixed-variant: rgb(54 73 85),
  --md-sys-color-tertiary-fixed: rgb(230 222 255),
  --md-sys-color-on-tertiary-fixed: rgb(28 23 54),
  --md-sys-color-tertiary-fixed-dim: rgb(201 193 234),
  --md-sys-color-on-tertiary-fixed-variant: rgb(72 66 100),
  --md-sys-color-surface-dim: rgb(15 20 23),
  --md-sys-color-surface-bright: rgb(53 58 61),
  --md-sys-color-surface-container-lowest: rgb(10 15 18),
  --md-sys-color-surface-container-low: rgb(23 28 31),
  --md-sys-color-surface-container: rgb(28 32 35),
  --md-sys-color-surface-container-high: rgb(38 43 46),
  --md-sys-color-surface-container-highest: rgb(49 53 57)
);
