
@import "../../../src/scss/theme";

*{
    margin: 0;
}

body {
    padding: 1rem;
    background-color: $color-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

