//**Typography**//
// font weigth

$font-weight: (
    display-large: 400,
    display-medium: 400,
    display-small: 400,
    headline-large: 400,
    headline-medium: 400,
    headline-small: 400,
    title-large: 400,
    title-medium: 500,
    title-small: 500,
    body-large: 400,
    body-medium: 400,
    body-small: 400,
    label-large: 500,
    label-medium: 500,
    label-small: 500
);

$font-weight-prominent: (
    label-large: 700,
    label-medium: 700
);

$font-size: (
    display-large: 57px,
    display-medium: 45px,
    display-small: 36px,
    headline-large: 32px,
    headline-medium: 28px,
    headline-small: 24px,
    title-large: 22px,
    title-medium: 16px,
    title-small: 14px,
    body-large: 16px,
    body-medium: 14px,
    body-small: 12px,
    label-large: 14px,
    label-medium: 12px,
    label-small: 11px
);

$font-tracking: (
    display-large: -0.25px,
    display-medium: 0,
    display-small: 0,
    headline-large: 0,
    headline-medium: 0,
    headline-small: 0,
    title-large: 0,
    title-medium: 0.15px,
    title-small: 0.1px,
    body-large: 0.5px,
    body-medium: 0.25px,
    body-small: 0.4px,
    label-large: 0.1px,
    label-medium: 0.5px,
    label-small: 0.5px
);

$line-height: (
    display-large: 64px,
    display-medium: 52px,
    display-small: 44px,
    headline-large: 40px,
    headline-medium: 36px,
    headline-small: 32px,
    title-large: 28px,
    title-medium: 24px,
    title-small: 20px,
    body-large: 24px,
    body-medium: 20px,
    body-small: 16px,
    label-large: 20px,
    label-medium: 16px,
    label-small: 16px
);